doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title WakeUp System Signal

    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    include includes/css.pug

  body

    include includes/navbar.pug

    // Page Header
    header.masthead(style="background-image: url('assets/img/home-bg.jpg')")
      .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            .site-heading
              h1 WakeUp System
              span.subheading Wards of the Future

    // Main Content
    section
      .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-lg-10
            h2.section-heading.text-center
              span The Future of Healthcare
            p.text-center.lead.mb-5
              | Developed in partnership with University College London (UCL), Great Ormond Street Hospital (GOSH) and Intel, the WakeUp System provides reassurance and support to patients with disabilities in long-term care or the elderly. One of the system's main objectives is to enable them to autonomously control their environment, and it is designed for use in both hospital and home settings. A key part of the project is the integration of Matter, a new application layer connectivity protocol for smart home devices. Moreover, the project encompasses a research study in Intel's new OpenVINO project.
                  
      section#video
          .container
              .row.justify-content-center
                  .col-lg-8
                      .embed-responsive.embed-responsive-16by9
                          iframe.embed-responsive-item(width="830" height="450" src="https://www.youtube.com/embed/HQ1FiugWNbs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          
    include includes/footer.pug

    include includes/scripts.pug
