doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title WakeUp System Signal

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Our Amazing Partners
                            span.subheading Those who have helped us along the way.

        // Main Content
        section#partners
            .container
                .row
                    .col-lg-4.mb-5
                        .card.h-100
                            .card-body
                                h4.card-title University College London (UCL)
                                img.card-img-top(src='https://github-production-user-asset-6210df.s3.amazonaws.com/75443246/304407403-3d45fe59-2177-4196-bb57-3a379a42c639.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240411%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240411T094939Z&X-Amz-Expires=300&X-Amz-Signature=073ead75beacb3a619d45b8b90688e2b306ed9a79de2794b674b79e73a1258ee&X-Amz-SignedHeaders=host&actor_id=22705945&key_id=0&repo_id=739588420', alt='Partner 1')
                               
                    .col-lg-4.mb-5
                        .card.h-100
                            .card-body
                                h4.card-title Intel Corporation
                            img.card-img-top(src='https://github-production-user-asset-6210df.s3.amazonaws.com/75443246/304407488-518844b3-1d2d-444c-9d2b-7f4dda07b68b.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240411%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240411T095143Z&X-Amz-Expires=300&X-Amz-Signature=b930d449c81c4ca5a2f56358b50d9a9fd11f56ddbde5875dee28c71b5cf24053&X-Amz-SignedHeaders=host&actor_id=22705945&key_id=0&repo_id=739588420', alt='Partner 2')
                    .col-lg-4.mb-5
                        .card.h-100
                            .card-body
                                h4.card-title Great Ormond Street Hospital
                            img.card-img-top(src='https://github-production-user-asset-6210df.s3.amazonaws.com/75443246/304407589-b1212966-1e4d-450b-ac4f-4fb994acf488.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240411%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240411T095516Z&X-Amz-Expires=300&X-Amz-Signature=00b081742a571b36a48d0835eb95cd6ff20c7031b8b3b808deb535fab0c7ca62&X-Amz-SignedHeaders=host&actor_id=22705945&key_id=0&repo_id=739588420', alt='Partner 3')

        include includes/footer.pug
        include includes/scripts.pug