doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title WakeUp System Signal

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 About the Team
                            span.subheading Meet the people behind the project.

        // Main Content
        section#team
            .container
                .row
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='https://avatars.githubusercontent.com/u/22705945?v=4', alt='Team Member 1')
                            .card-body
                                h4.card-title David Frischer - Team Leader
                                p.card-text MSc in Software Systems Engineering, UCL and Full Stack Developer. 
                                a(href='https://github.com/davidfrisch') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='https://www.linkedin.com/in/david-frischer')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                                
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team2.jpg', alt='Team Member 2')
                            .card-body 
                                h4.card-title Hussain Fatima
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/dias.jpeg', alt='Team Member 3')
                            .card-body
                                h4.card-title Jakupov Dias
                                p.card-text MSc in Software Systems Engineering, UCL and Full Stack Developer.
                                a(href='https://github.com/Dias2406/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='https://www.linkedin.com/in/dias-jakupov-a05258221/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                .row
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team4.jpg', alt='Team Member 4')
                            .card-body
                                h4.card-title Kang Weihao
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team5.jpg', alt='Team Member 5')
                            .card-body
                                h4.card-title Rzayev Javid
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team6.jpg', alt='Team Member 6')
                            .card-body
                                h4.card-title Sivayoganathan Thuvaragan
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                .row
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team7.jpg', alt='Team Member 7')
                            .card-body
                                h4.card-title Sun Ethan
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team8.jpg', alt='Team Member 8')
                            .card-body
                                h4.card-title Wang Jingyuan
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/img/team9.jpg', alt='Team Member 9')
                            .card-body
                                h4.card-title Wang Zena
                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget aliquam aliquet, mauris nunc aliquam nunc, non lacinia nunc nunc id nunc.
                                a(href='https://github.com/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='#')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')

        include includes/footer.pug

        include includes/scripts.pug