# Environment
.env*

# Prerequisites
*.d
node_modules

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python
*.pyc
*.pyo
__pycache__/
venv

.DS_Store


./SoundTriggerBox/config.json

data


*venv*

visionPython/config.json
wakeup_server/instance

build
dist
*.spec
*.egg-info

*.pt
*.task
*.sqlite

# Pytest
.pytest_cache

# whisper openvino
whisper_base_decoder
whisper_base_encoder
audio.mov
*.png
env_trigger.txt
*.mp4
*.wav
whisper/openai_whisper-base

# fall upper detection
fall_detection/vision_upper_body_fall/
*.pt.*


# morse vision
morse_vision/vision_morse

# morse audio
morse_audio/sound_morse
wakeup_server/wakeup_server
