pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cpu
torch
numpy
git+https://github.com/openai/whisper.git
openvino>=2023.1.0
python-ffmpeg<=1.0.16
moviepy
transformers
scipy
ipywidgets
psutil
transformers>=4.35
git+https://github.com/huggingface/optimum-intel.git
peft==0.6.2
onnx 
