
APScheduler==3.10.4
fhir.resources==7.1.0
Flask==3.0.1
Flask-Cors==4.0.0
Flask-JSON==0.4.0
Flask-SQLAlchemy==3.1.1
pycparser==2.21
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.7
pyzmq==25.1.2
requests==2.31.0
SQLAlchemy==2.0.25
urllib3==1.26.6
wakeonlan==3.1.0
zmq==0.0.0
pytest
flask_swagger_ui